{extends ../@layout.latte}

{block content}

<div class="container mt-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
        {foreach $users as $usr}
            <tr>
                <td>{$usr->id}</td>
                <td>{$usr->username}</td>
                <td>{$usr->email}</td>
                <td>{$usr->role}</td>
                <td>
                    <a class="btn btn-primary btn-sm" n:href="changeRole! userId => $usr->id, newRole => 'admin'">Nastavit Admina</a>
                    <a class="btn btn-secondary btn-sm" n:href="changeRole! userId => $usr->id, newRole => 'user'">Nastavit Usera</a>    
                    <a class="btn btn-danger btn-sm" n:href="deleteUser! userId => $usr->id" onclick="return confirm('Jste si jistý že chcete smazat uživatele ?');">Smazat Uživatele</a>
                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>

    <ul class="nav justify-content-center bg-dark">
        <li class="nav-item"><a class="nav-link text-white" n:href="changePassword">Změnit heslo</a></li>
        <li class="nav-item"><a class="nav-link text-white" n:href="SignUp">Registrovat nového uživatele</a></li>
    </ul>
</div>
{/block}
