search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter
	- App\Model\UserFacade
	- App\Forms\FormFactory
	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory

